
/* wraper one */

.wrapper-home-one {
    display: flex;
    flex-direction: row;
    padding: 100px;
    background: linear-gradient(30deg, rgb(2, 2, 88) 0 10%, rgb(0, 0, 0) 25% 75%, rgb(2, 2, 88) );
    height: 90vh;
    
}

.leftSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 7%;
    
}
.top-nadpis {

}

.leftSide h4 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: rgb(209, 148, 26);
    color: white;
}

.leftSide h1 {
    font-size: 5rem;
    width: 350px;
    color: white;
    text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
}

.leftSide h2 {
    font-size: 4rem;
    color: rgb(209, 148, 26);
    text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
  
}

.leftSide p {
    font-size: 2rem;
    color: white;
}
.orange-color {
    color:rgb(209, 148, 26) ;
    
}

.rightSide{
    display: flex;
    flex-direction: column;
    padding-left: 80px;

}
.rightSide h2 {
    padding-left: 25px;
    font-size: 35px;
    max-width: 350px;  
    color: rgb(196, 194, 194);  
     text-shadow: 0 0 80px rgba(32, 70, 121, 0.48), 0 0 32px rgb(65 120 255 / 24%);
}
.home-icon-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    height: 200px;
    
}

.learn-btn {
    width: 125px;
    height: 35px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid rgb(209, 148, 26);
}

.btn-link-whitepaper {
   text-decoration: none; 
   font-size: 15px;
   color: white ;
}



/* wraper two */
.wrapper-home-two {
    padding-bottom: 5%;
}

.home-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.home-partners h2 {
    font-size: 3rem;
}

.future-wrap {
    display: flex;

}

.left-side-future {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 20px 100px;
    gap: 2rem;
}

.left-side-future p {
    font-size: 1.6rem;
    color: rgb(114, 112, 112);
    font-family: Cantarell, sans-serif;
}

.left-side-future h4 {
    font-size: 3rem;
    color: #6A97CC;
}

.btn-future {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: black;
    border: 2px solid rgb(209, 148, 26);
    color: white;
}
.link-future {
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right-side-future {
    display: flex;
    align-items: center;


}

.right-side-future img {
    margin-left: 50%;
    width: 500px;
    height: 420px;
}


/* wrapper three */

.wrapper-home-third {
    background-color: #222222;
    display: flex;
    margin: 0;
    padding: 6.25%;
    overflow: hidden;
    background: #222;
    position: relative;
}

.compare-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;   
    width:40%;
    padding: 50px;
}

.compare-text h2{
  font-size: 2rem;
  color: white;
  text-decoration: underline;
  text-decoration-color:  rgb(209, 148, 26);
}

.compare-text p {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.btn-services {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid rgb(209, 148, 26);
    color: white;
}

.btn-link-services {
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}




